<script src="{{ url_for('design-system.static', filename='assets/vendor/nouislider/nouislider.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('backend_performance.static', filename='js/performanceBackend.js') }}"
        type="text/javascript"></script>
{{ template_slot('params_table_scripts') | safe }}

<script>
        $('#createTestModal').on('hide.bs.modal', function(e) {
            $('#test_name').val("");
            $("#test_name").prop("disabled", false);
            $('#test_type').val("");
            $('#test_env').val("");
            $("#testrunners").show();
            $("#compileTests").show();
            $("#fileUpload").show();
            $("#submit").removeClass("disabled");
            $("#save").removeClass("disabled");
            $('#backend_test_params').bootstrapTable('removeAll')
            $('#submit').removeAttr('onclick');
            $('#submit').attr('onClick', `createTest()`);
            $('#save').removeAttr('onclick');
            $('#save').attr('onClick', `createTest()`);
            $("#entrypoint").prop("disabled", false);
            $("#entrypoint").val("");
            $('#backend_parallel').val("1");
            $("#nav-git-https-tab").prop("disabled", false);
            $("#nav-file-tab").prop("disabled", false);
            $("#nav-git-tab").prop("disabled", false);
            $('a[href="#nav-git"]').click();
            $("#repo").val("");
            $("#repo_branch").val("");
            $("#repo_key").val("");
            $("#repo_https").val("");
            $("#repo_branch_https").val("");
            $("#repo_user").val("");
            $("#repo_pass").val("");
            $("#tests-list").bootstrapTable('refresh');
        });
</script>

<script>
        function updateEnvPicker(_callback) {
            let selectedProjectId = getSelectedProjectId();
            $.get(`/api/v1/backend_performance/environments/${selectedProjectId}`,
            { name: $("#testName").val() },
            function(data) {
                $("#envName").empty();
                data.forEach(item => {
                    $("#envName").append(`<option value="${item}">${item}</option>`);
                });
                $("#envName").selectpicker('refresh').trigger('change');
                if (_callback !== undefined) {
                    _callback();
                }
            });
        }


        function updateScopePicker() {
            let selectedProjectId = getSelectedProjectId();
            $.get(`/api/v1/backend_performance/requests/${selectedProjectId}`,
            {
                name: $("#testName").val(),
                env: $("#envName").val()
            },
            function(data) {
                $("#scope").empty();
                $("#scope").append(`<option value="all">all</option>`);
                $("#scope").append(`<option value="every">every</option>`);
                data.forEach(item => {
                    $("#scope").append(`<option value="${item}">${item}</option>`);
                });
                $("#scope").selectpicker('refresh').trigger('change');
            });
        }

        function insertThreshold(){
            let selectedProjectId = getSelectedProjectId();
            $.ajax({
                url: `/api/v1/backend_performance/thresholds/${selectedProjectId}`,
                type: "POST",
                data: JSON.stringify({
                    test: $("#testName").val(),
                    env: $("#envName").val(),
                    scope: $("#scope").val(),
                    target: $("#target").val(),
                    aggregation: $("#aggregation").val(),
                    comparison: $("#comparison").val(),
                    value: parseInt($("#th_value").val())
                }),
                contentType: "application/json",
                dataType: "json",
                success: function(){
                    $("#threshold-list").bootstrapTable('refresh');
                    $("#createThresholdModal").modal('hide');
                }
            });
        }

        function showEditThreshold(index){
            $("#createThresholdModal").modal('toggle');
            $("#modal_title").html("Edit Threshold");
            $("#add_threshold").html("Edit");
            setTimeout(updateModalData, 500, index);
        }

        function updateModalData(index) {
            var data = $("#threshold-list").bootstrapTable('getRowByUniqueId', index);
            $("#testName").selectpicker('val', data['test']);
            updateEnvPicker(()=>{
               $("#envName").selectpicker('val', data['environment']);
            });
            $("#scope").selectpicker('val', data['scope']);
            $("#target").selectpicker('val', data['target']);
            $("#aggregation").selectpicker('val', data['aggregation']);
            $("#comparison").selectpicker('val', data['comparison']);
            $("#th_value").val(data['value']);
            $("#add_threshold").attr('onclick', `editThreshold("${index}")`);
        }

        function deleteThreshold(index, callback) {
            let selectedProjectId = getSelectedProjectId();
            var data = $("#threshold-list").bootstrapTable('getRowByUniqueId', index);
            var request_params = $.param({
                test: data['test'],
                env: data['environment'],
                scope: data['scope'],
                target: data['target'],
                aggregation: data['aggregation'],
                comparison: data['comparison']
            });
            $.ajax({
                url: `/api/v1/backend_performance/thresholds/${selectedProjectId}?`+request_params,
                type: "DELETE",
                success: function(){
                    $("#threshold-list").bootstrapTable('refresh');
                    if (callback !== undefined) {
                        callback()
                    }
                }
            })
        }

        function editThreshold(index) {
            deleteThreshold(index, insertThreshold);
        }

        $('#createThresholdModal').on('hide.bs.modal', function(e) {
            $("#modal_title").html("Create Threshold");
            $("#add_threshold").html("Save");
            $("#add_threshold").attr('onclick', `insertThreshold()`);
            $("#th_value").val("");
        });

        $(document).ready(function() {
            updateEnvPicker();
    });
</script>