#pills-tab > li {
    cursor: pointer;
}

.chart-container {
    position: relative;
    height: 450px;
    width: calc(100% - 280px);
}

.custom-chart-legend {
    overflow: scroll;
    max-height: 450px;
}

.engine_health_card {
    position: relative;
    width: calc(100% - 300px);
}

.engine_health_card canvas {
    max-height: 250px;
    width: 100%;
}

.engine_health_card canvas:last-child {
    max-height: 320px;
}