<script src="{{ url_for('backend_performance.static', filename='js/backend_performance.js') }}"></script>
<script src="{{ url_for('backend_performance.static', filename='js/thresholds.js') }}"></script>

{{ template_slot('params_table_scripts') | safe }}
{{ template_slot('sources_scripts') | safe }}
{{ template_slot('locations_scripts') | safe }}
{{ template_slot("integrations_backend_performance_scripts") | safe }}
{{ template_slot("backend_performance_scheduling_test_create_scripts") | safe }}
